{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="mpr-how-to">
        <h4 class="mpr-how-to__header">
          Using MyPhisiRehab could not be easier
        </h4>

        <div class="mpr-how-to__main-list">
          <div class="mpr-how-to-list container">

              <div class="mpr-how-to-list__item ">
                <div class="mpr-how-to-item">
                  <div class="mpr-icon">
                    <img src="images/mpr-user-icon-how-to.png" class="mpr-icon__icon" alt="">
                  </div>

                  <div class="mpr-how-to-item__descr-wrapper">
                    <div class="mpr-how-to-item__heading">Step 1</div>
                    <div class="mpr-how-to-item__description">Add a Patient <br /> or Select an existing one</div>
                    <button class="btn">Watch the Video</button>
                  </div>

                </div>
              </div>

              <div class="mpr-how-to-list__item ">
                <div class="mpr-how-to-item">
                  <div class="mpr-icon">
                    <img src="images/mpr-pen-icon-how-to.png" class="mpr-icon__icon" alt="">
                  </div>

                  <div class="mpr-how-to-item__descr-wrapper">
                    <div class="mpr-how-to-item__heading">Step 2</div>
                    <div class="mpr-how-to-item__description">
                      <ul>
                        <li>Create an Injury Profile</li>
                        <li>Exercice Program</li>
                      </ul>
                    </div>
                    <button class="btn">Watch the Video</button>
                  </div>

                </div>
              </div>

              <div class="mpr-how-to-list__item ">
                <div class="mpr-how-to-item">
                  <div class="mpr-icon">
                    <img src="images/mpr-note-icon-how-to.png" class="mpr-icon__icon" alt="">
                  </div>

                  <div class="mpr-how-to-item__descr-wrapper">
                    <div class="mpr-how-to-item__heading">Step 3</div>
                    <div class="mpr-how-to-item__description">
                      <ul>
                        <li>Send It</li>
                        <li>Print It</li>
                        <li>Download It</li>
                      </ul>
                    </div>
                    <button class="btn">Watch the Video</button>
                  </div>

                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
